<div class="navbar">
  <div class="navbar__title">
    <h4 class="navbar__title__text">Online Shop Admin</h4>
  </div>
  <div class="navbar__navigation">
    <div class="navbar__navigation__text">
      <a
        class="navbar__navigation__text__texts"
        href=""
        [routerLink]="['/products']"
        >Products</a
      >
      <a
        class="navbar__navigation__text__texts"
        href=""
        [routerLink]="['/customers']"
        >Customers</a
      >
      <a
        class="navbar__navigation__text__texts"
        href=""
        [routerLink]="['/orders']"
        >Orders</a
      >
      <a class="navbar__navigation__text__texts" href="">Reports</a>
    </div>
  </div>
</div>
