<div>
  <h1>Edit Product</h1>
  <div>
    <form class="forms" action="">
      <div class="form">
        <div class="form__texts">
          <div>
            <h5>Name:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            [value]="course.name"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Product Number:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            [value]="course.number"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Color:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            [value]="course.color"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Standart Cost:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            [value]="course.cost"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>List Price:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            [value]="course.price"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Size:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            [value]="course.size"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Weight:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            [value]="course.weight"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Sell Start Date:</h5>
          </div>
          <input
            class="form__texts__input"
            type="date"
            [id]="course.id"
            name="fname"
            value="2022-12-17"
            min="2022-12-17"
            max="2023-01-31"
          />
        </div>
        <div class="form__btn">
          <input
            class="form__btn__save form__btn__same"
            type="submit"
            value="Save"
          />
          <a class="form__btn__back form__btn__same" href="products"
            >Back To List</a
          >
          <button class="form__btn__delete form__btn__same">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
