<div>
  <h1>Edit Product</h1>
  <div>
    <form [formGroup]="newProduct" class="forms">
      <div class="form">
        <div class="form__texts">
          <div>
            <h5>Name:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            formControlName="name"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Product Number:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            formControlName="productNumber"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Color:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            formControlName="color"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Standart Cost:</h5>
          </div>
          <input
            class="form__texts__input"
            type="number"
            [id]="course.id"
            name="fname"
            formControlName="cost"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>List Price:</h5>
          </div>
          <input
            class="form__texts__input"
            type="number"
            [id]="course.id"
            name="fname"
            formControlName="price"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5>Size:</h5>
          </div>
          <input
            class="form__texts__input"
            type="number"
            [id]="course.id"
            name="fname"
            formControlName="size"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5 for="weight">Weight:</h5>
          </div>
          <input
            class="form__texts__input"
            type="number"
            [id]="course.id"
            name="fname"
            formControlName="weight"
          />
        </div>
        <div class="form__texts">
          <div>
            <h5 for="date">Sell Start Date:</h5>
          </div>
          <input
            class="form__texts__input"
            type="text"
            [id]="course.id"
            name="fname"
            min="2022-12-17"
            max="2023-01-31"
            formControlName="date"
          />
        </div>
        <div class="form__btn">
          <input
            class="form__btn__save form__btn__same"
            value="Save"
            (click)="update(newProduct.value)"
          />
          <a
            class="form__btn__back form__btn__same"
            [routerLink]="['/products']"
            >Back To List</a
          >
          <button class="form__btn__delete form__btn__same" (click)="delete()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
